.header_container,
body,
html {
  margin-left: auto;
  margin-right: auto;
}
.nav-links,
nav {
  display: -webkit-box;
  display: -ms-flexbox;
}
.button_navbar,
body {
  background-color: var(--primary-color);
}
#text-underline,
.header_description a,
.header_description a:visited {
  -webkit-text-decoration-color: var(--accent-color-special);
  text-decoration-color: var(--accent-color-special);
}
.about li,
.about p {
  line-height: var(--line-height);
}
.about ul,
.nav-links li,
.social-media-list li {
  list-style: none;
}
.footer-text p,
.logo {
  text-transform: uppercase;
}
:root {
  --text-color: #f9f9f9;
  --body-text-color: #dedede;
  --primary-color: #282c34;
  --secondary-color: #1c1e24;
  --accent-color-light: #f7f7f7;
  --accent-color-dark: #282c34;
  --accent-color-special: #ffd479;
  --error-color: #b30;
  --body-font-family: 'Poppins', sans-serif;
  --header-font-family: 'Staatliches', serif;
  --button-font-family: 'Staatliches', serif;
  --body-font-size: 1rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.17rem;
  --h4-font-size: 1rem;
  --h5-font-size: 0.875rem;
  --h6-font-size: 0.75rem;
  --line-height: 1.40625rem;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  overflow-x: hidden;
}
.logo a,
a {
  text-decoration: none;
}
body {
  color: var(--text-color);
  font-family: var(--body-font-family);
}
.header_container {
  font-family: var(--header-font-family);
  font-size: var(--h1-font-size);
  max-width: 800px;
  text-align: center;
  margin-bottom: 40px;
}
.header_description {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  color: var(--body-text-color);
}
.about h3,
.arrow_text,
.button_one,
.button_three,
.button_two,
.profile_text,
.project,
nav {
  font-family: var(--header-font-family);
}
.header_description a,
.header_description a:visited {
  color: var(--body-text-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.header_description a:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color-special);
}
.button_navbar,
.logo,
.logo a:active,
.logo a:visited,
.logo h3,
.nav-links a {
  color: var(--text-color);
}
nav {
  background-color: var(--secondary-color);
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 10vh;
}
.logo {
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
}
.about h3,
.nav-links a:hover,
.project h3 {
  color: var(--accent-color-special);
}
#text-underline,
.about h4,
.about strong {
  text-decoration: underline;
}
.button_navbar {
  font-size: var(--body-font-size);
  border-radius: 50px;
  padding: 7px 20px;
  border: 1px solid var(--accent-color-dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button_navbar:hover,
.button_one,
.button_three,
.button_two {
  color: var(--secondary-color);
  background-color: var(--accent-color-special);
}
.burger,
.button_three {
  display: none;
}
.profile,
.profile_text {
  display: -webkit-box;
  display: -ms-flexbox;
  padding: 30px;
}
.burger div {
  background-color: var(--text-color);
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 9;
}
.main_home {
  margin: 15vh auto;
  max-width: 1280px;
}
.profile {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}
#img {
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.arrow,
.profile_text {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.profile_text {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.profile_text_big {
  font-size: calc(var(--body-font-size) + 40px);
}
.profile_text_small {
  font-size: calc(var(--body-font-size) + 10px);
  margin: 30px 0 15px;
}
.button_one,
.button_three,
.button_two {
  font-size: calc(var(--body-font-size) + 10px);
  border-radius: 8px;
  margin: auto;
  padding: 7px 40px;
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 1px 1px 2px var(--secondary-color);
  box-shadow: 1px 1px 2px var(--secondary-color);
}
.contact-wrapper,
.project {
  background-color: var(--secondary-color);
}
.button_one:hover,
.button_three:hover,
.button_two:hover {
  background-color: var(--accent-color-special);
  color: var(--text-color);
}
.button_two {
  margin-left: 15px;
}
.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 300px;
}
.arrow_text {
  font-size: calc(var(--body-font-size) - 1px);
  color: var(--text-color);
  margin-bottom: 5px;
  margin-left: 20px;
}
.about_container,
.projects_container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.arrow_icon {
  height: 40px;
}
.about_container {
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}
.about {
  padding: 40px;
  display: block;
}
.about h3 {
  font-size: calc(var(--h3-font-size) + 0.5rem);
  text-align: left;
  margin-bottom: 15px;
}
.about p {
  text-align: left;
  display: block;
}
.footer-text p,
.footer_icons,
.project h3 {
  text-align: center;
}
.about h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.contact-text a,
.contact-text a:hover {
  text-decoration: none;
}
.projects_container {
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.project,
.project_link__tags {
  display: -webkit-box;
  display: -ms-flexbox;
}
.project {
  font-size: var(--h2-font-size);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 30px 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.error-message,
.form-horizontal,
.project_description,
.project_link__tags {
  font-family: var(--body-font-family);
}
.project h3 {
  margin-bottom: 20px;
}
.bi,
.project_link__tags a,
.project_link__tags a:active,
.project_link__tags a:visited {
  color: var(--text-color);
}
.project img,
.project svg {
  margin: auto auto 20px;
  height: 150px;
  width: 200px;
}
.project i {
  margin: auto;
  font-size: 1.5rem;
}
.project_link__tags {
  font-size: calc(var(--body-font-size) - 0.1rem);
  margin: auto auto 20px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 250px;
}
.contact-wrapper,
.project_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.project_link__tags a {
  border: 1px solid var(--accent-color-dark);
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 5px 10px;
}
.project_link__tags a:hover {
  color: var(--accent-color-special);
}
.project_description {
  font-size: calc(var(--body-font-size) + 0.1rem);
  color: var(--body-text-color);
  margin-bottom: 30px;
  text-align: center;
}
.project_icons {
  color: var(--body-text-color);
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 200px;
  margin: auto;
}
#contact {
  max-width: 1350px;
  margin: 10vh auto 20vh;
}
.contact-wrapper {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 40px;
  position: relative;
  max-width: 840px;
  border-radius: 6px;
  border: 1px solid var(--accent-color-dark);
}
.send-button,
.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
}
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}
.form-control,
textarea {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1.5px solid var(--text-color);
  width: 400px;
  margin-bottom: 5px;
  padding-left: 7px;
  letter-spacing: 1px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px var(--accent-color-dark);
  box-shadow: 1px 1px 5px var(--accent-color-dark);
}
.form-control {
  line-height: 15px;
}
textarea {
  padding-top: 3px;
}
.error-message {
  font-size: calc(var(--body-font-size) - 6px);
  color: var(--error-color);
  margin-bottom: 5px;
}
.contact-list,
.send-text {
  font-family: var(--header-font-family);
}
.send-button {
  background-color: var(--text-color);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 17px;
  height: 37px;
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border: none;
}
.alt-send-button,
.send-text {
  display: inline-block;
  margin: auto;
}
.alt-send-button {
  max-width: 50px;
  height: 22px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.send-text {
  color: var(--primary-color);
  font-size: calc(var(--body-font-size) - 1px);
  letter-spacing: 2px;
  position: absolute;
  bottom: -29px;
  left: -5px;
}
.alt-send-button:hover {
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  cursor: pointer;
}
.bi-send-fill {
  position: relative;
  font-size: 20px;
}
.direct-contact-container {
  max-width: 400px;
}
.contact-list {
  list-style-type: none;
  width: 100%;
  font-size: var(--body-font-size);
  padding-left: 30px;
}
.list-item {
  line-height: 4;
  color: #aaa;
}
.contact-text {
  font: 300 18px var(--body-font-family);
  color: var(--text-color);
}
.contact-me-text,
.footer-text p {
  font-family: var(--header-font-family);
}
.place {
  margin-left: 37px;
}
.gmail,
.phone {
  margin-left: 36px;
}
.bi-send-fill {
  color: var(--primary-color);
}
.contact-text a {
  color: var(--text-color);
}
.contact-text a:hover,
.social-media-list li,
.social-media-list li a {
  color: var(--accent-color-light);
}
.social-media-list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  -ms-flex-wrap: row nowrap;
  flex-wrap: row nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-me-text,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
hr {
  margin: auto;
  width: 80%;
  border-color: var(--accent-color-dark);
}
.contact-me-text {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
footer {
  background-color: var(--secondary-color);
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 12vh;
  bottom: 0;
}
.footer-text p {
  font-size: calc(var(--body-font-size) - 5px);
  letter-spacing: 3px;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer_icons svg {
  margin: 7px;
}
.white {
  fill: #dedede;
}
@media screen and (max-width: 1200px) {
  .nav-links {
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    background-color: var(--primary-color);
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .button_navbar {
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .button_two {
    margin-left: 0;
    margin-top: 20px;
  }
}
.nav-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}
@media screen and (max-width: 1400px) {
  .main_home {
    max-width: 650px;
    margin: 7vh auto 11vh;
  }
  .profile_text_big {
    font-size: calc(var(--body-font-size) + 38px);
  }
  .profile_text_small {
    font-size: calc(var(--body-font-size) + 8px);
  }
  .button_three,
  .button_two {
    font-size: calc(var(--body-font-size) + 9px);
  }
  .arrow,
  .button_one {
    display: none;
  }
  .button_two {
    margin-left: 0;
  }
  .button_three {
    display: inline-block;
    margin-right: 180px;
    margin-bottom: 30px;
  }
  .button_text_small {
    font-size: calc(var(--body-font-size) - 2px);
  }
}
@media screen and (max-width: 1200px) {
  .main_home {
    max-width: 600px;
    margin: 7vh auto 13vh;
  }
  .profile_text_big {
    font-size: calc(var(--body-font-size) + 35px);
  }
  .profile_text_small {
    font-size: calc(var(--body-font-size) + 6px);
  }
  .button_three,
  .button_two {
    font-size: calc(var(--body-font-size) + 8px);
  }
  .button_one {
    display: none;
  }
  .button_two {
    margin-top: 15px;
  }
  .social-media-list li,
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 600px;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }
  .gmail,
  .phone,
  .place {
    font-size: var(--body-font-size);
    margin-left: 30px;
  }
  .direct-contact-container {
    margin-top: 20px;
    max-width: 300px;
  }
  .contact-list {
    padding-left: 10px;
    padding-right: 1px;
  }
  hr {
    margin: auto;
    width: 80%;
  }
  #contact {
    margin-top: 8vh;
    margin-bottom: 20vh;
  }
}
@media screen and (max-width: 900px) {
  .main_home {
    max-width: 500px;
    margin: 5vh auto 11vh;
  }
  .profile_text_big {
    font-size: calc(var(--body-font-size) + 30px);
  }
  .profile_text_small {
    font-size: calc(var(--body-font-size) + 4px);
  }
  .button_three,
  .button_two {
    font-size: calc(var(--body-font-size) + 7px);
  }
  .button_one {
    display: none;
  }
  .button_three {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .main_home {
    max-width: 450px;
    margin: 3vh auto;
  }
  .profile_text_big {
    font-size: calc(var(--body-font-size) + 25px);
  }
  .profile_text_small {
    font-size: calc(var(--body-font-size) + 2px);
  }
  .button_three,
  .button_two {
    font-size: calc(var(--body-font-size) + 6px);
  }
  .button_one {
    display: none;
  }
  .button_two {
    margin-top: 15px;
  }
  .button_three {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 450px;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
    max-width: 300px;
  }
  .form-control,
  textarea {
    margin: 0 auto 8px;
    max-width: 300px;
  }
  .send-button {
    max-width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .alt-send-button {
    margin-left: auto;
  }
  .gmail,
  .phone,
  .place {
    font-size: var(--body-font-size);
  }
  .place {
    margin-left: 29px;
  }
  .phone {
    margin-left: 27px;
  }
  .gmail {
    margin-left: 26px;
  }
  .direct-contact-container {
    margin-top: 20px;
    max-width: 300px;
  }
  .contact-list {
    padding-left: 10px;
    padding-right: 1px;
  }
  .social-media-list {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: row nowrap;
    flex-wrap: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .social-media-list li {
    height: 50px;
    width: 50px;
    list-style: none;
  }
  hr {
    margin: auto;
    width: 80%;
  }
  #contact {
    margin-top: 10vh;
    margin-bottom: 20vh;
  }
}
